[core]
	abbrev = 8
	pager = less -R
	autocrlf = input
	safecrlf = true
	#whitespace = cr-at-eol
[log]
    abbrevCommit = true

[user]
	name = xian@cercis
	email = code@x14n.org
[push]
	default = simple
[alias]
	rem = remote -v
	branch = branch -a -v
	bran = branch -a -v
	ls = log --stat --graph
    ## http://stackoverflow.com/questions/1057564/pretty-git-branch-graphs
    ls1 = log --graph --all --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' 
    ls2 = log --graph --all --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' 
    high = log --all --graph --simplify-by-decoration --decorate --date=short  --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ad)%C(reset)%C(bold yellow)%d%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' 
    high1 = log --all --graph --pretty=medium --abbrev-commit --simplify-by-decoration --decorate --date=short 
[credential]
	helper = cache
[pull]
	ff = only
