## use this file with symlink in .ssh/ + "Include link" directive
## See https://man.openbsd.org/ssh_config#Include

AddKeysToAgent yes

## kenyon
Host andromeda
    Hostname vera-rubin.kenyon.edu
    #Hostname andromeda.kenyon.edu
    IdentityFile ~/.ssh/id_kenyon
    ForwardAgent yes
    ForwardX11 no

## phone
Host pixel5
    Port 2222
    ## DrobBear
    Hostname 192.168.1.120

## Thinkpad T480s: 2018-12
Host cercis
    Port 22
    Hostname 192.168.1.50
    ForwardAgent no
    ForwardX11 yes

## Thinkpad X1 Carbon
Host diospyros
    Port 7722
    Hostname 192.168.1.40
    ForwardAgent yes

Host diospyros.remote
    Port 7722
    Hostname 24.166.238.206
    ForwardAgent yes

############
## old
############

Host cloud
    hostname web537.webfaction.com
    User helmingstay
    ForwardAgent yes
    IdentityFile ~/.ssh/id_cloud

# ncsu math cluster
Host ncsu_math
    Hostname submit.math.ncsu.edu
    User cegunnin
    ForwardAgent yes
    IdentityFile ~/.ssh/id_math_2016

#UpHost vm
Host tillandsia
    Hostname 152.44.37.26
    ForwardAgent yes

## phone
Host pixel2
    Port 2222
    ## wifi hotspot
    Hostname 192.168.1.110

Host oryza
    Port 7722
    Hostname 192.168.1.30
