## use this file with symlink in .ssh/ + "Include link" directive
## See https://man.openbsd.org/ssh_config#Include

AddKeysToAgent yes

## Home assistant on carya
Host homeassist
    User root
    Hostname 192.168.1.20
    Port 2222

Host diospyros
    Port 7722
    Hostname 192.168.1.40
    ForwardAgent yes

# requires my.vpn to access
Host gacrc
    User cg79628
    Hostname sapelo2.gacrc.uga.edu
    ForwardAgent yes
    ForwardX11 no

## GACRC xfer node 
# Ref: https://wiki.gacrc.uga.edu/wiki/Transferring_Files
Host xfer
    User cg79628
    Hostname xfer.gacrc.uga.edu
    ForwardAgent yes
    ForwardX11 no

## kenyon
Host andromeda
    Hostname vera-rubin.kenyon.edu
    #Hostname andromeda.kenyon.edu
    IdentityFile ~/.ssh/id_kenyon
    ForwardAgent yes
    ForwardX11 no

## Liquid Web
Host cloud
    Port 5522
    Hostname sulky-clam.metalseed.net
    ForwardAgent yes
    ForwardX11 no

## Thinkpad T480s: 2018-12
Host cercis
    Port 22
    Hostname 192.168.1.50
    ForwardAgent no
    ForwardX11 yes

## phone: dropbear
Host pixel7
    Port 2222
    ## Fix dhcp?
    Hostname 192.168.1.248
    #Hostname 192.168.1.120


