AddKeysToAgent yes

## kenyon
Host andromeda
    Hostname andromeda.kenyon.edu
    IdentityFile ~/.ssh/id_kenyon
    ForwardAgent yes
    ForwardX11 no

## phone
Host pixel2
    Port 2222
    ## wifi hotspot
    Hostname 192.168.1.110

Host oryza
    Port 7722
    Hostname 192.168.1.30


Host diospyros
    Port 7722
    Hostname 192.168.1.40
    ForwardAgent yes

Host diospyros.remote
    Port 7722
    Hostname 24.166.238.206
    ForwardAgent yes


Host cloud
    hostname web537.webfaction.com
    User helmingstay
    ForwardAgent yes
    IdentityFile ~/.ssh/id_cloud

# ncsu math cluster
Host ncsu_math
    Hostname submit.math.ncsu.edu
    User cegunnin
    ForwardAgent yes
    IdentityFile ~/.ssh/id_math_2016
